/*公用部分*/
.go{
    position: fixed;
    top: 40px;
    right: 40px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1000;
}
/*继续往下的动画*/
.more{
    position: fixed;
    bottom: 100px;
    right: 60px;
    z-index: 1000;
    animation: more 0.4s linear infinite alternate;
}
@keyframes more {
    from{
        transform: translate(0,-10px);
    }
    to{
        transform: translate(0,10px);
    }
}
/*第一屏*/
.screen01 {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../images/01-bg.png") no-repeat center bottom;
}
.screen01 .text {
    width: 470px;
    height: 50px;
    position: absolute;
    left: 50%;
    margin-left: -235px;
    transform: translate(250px,100px);
    animation: screen01-text 0.75s linear infinite alternate;
}
.screen01 .sofa {
    width: 134px;
    height: 147px;
    position: absolute;
    left: 50%;
    margin-left: -67px;
    transform: translate(-160px,200px);
    animation: screen01-sofa 1s linear infinite alternate;
}
.screen01 .goods {
    width: 824px;
    height: 274px;
    position: absolute;
    left: 50%;
    bottom: 100px;
    margin-left: -412px;
}
/*动画序列*/
@keyframes screen01-text {
    from {
        transform: translate(250px,80px);
    }
    to{
        transform: translate(250px,120px);
    }
}
@keyframes screen01-sofa {
    from {
        transform: translate(-160px,180px);
    }
    to{
        transform: translate(-160px,220px);
    }
}

/*第二屏*/
.screen02 {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../images/02-bg.png") no-repeat center bottom;
}
.screen02 .text {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
}
.screen02 .searchBox {
    width: 222px;
    height: 45px;
    position: absolute;
    left: 50%;
    bottom: 300px;
    transform: translateX(1000px);
    opacity: 0;
    z-index: 1;
}
.screen02 .searchBox .key {
    position: absolute;
    top: 5px;
    left: 100px;
    opacity: 0;
    transition: all 1s linear 1s;
}
.screen02 .list{
    position: absolute;
    left: 50%;
    bottom: 210px;
    transform: translateX(-50%) scale(0);
    transform-origin: right bottom;
    transition: all 1s linear 3s;
}
/*单个沙发 做第二屏掉到第三屏*/
.screen02 .sofa{
    position: absolute;
    left: 50%;
    bottom: 300px;
    transform: scale(0.5) translateX(-150%);
    opacity: 0;
}
.screen02 .sofa.animated{
    /*因为设置了层级  所以不用保持动画结束状态*/
    /*animation: sofa2to3 1.5s linear forwards;*/
    animation: sofa2to3 1.5s linear;
}
@keyframes sofa2to3 {
    from{
        opacity: 1;
        z-index: 10000;
    }
    to{
        transform: scale(1) translate(-250px,800px);
        opacity: 1;
        z-index: 10000;
    }
}
/*等第二屏完全显示 去执行动画*/
.selected .screen02 .list{
    transform: translateX(-50%) scale(1);
}
.selected .screen02 .searchBox{
    /* forwards 保持动画结束状态  backwards 默认返回初始状态 */
    animation: screen02-search 4s linear forwards;
}
@keyframes screen02-search {
    from{

    }
    25%{
        transform: translateX(-50%);
        opacity: 1;
    }
    75%{
        transform: translateX(-50%);
        opacity: 1;
    }
    100%{
        transform: translate(90px,-140px) scale(0.7);
        opacity: 1;
    }
}
.selected .screen02 .key{
    opacity: 1;
}

/*第三屏*/
.screen03{
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../images/03-bg.png") no-repeat center bottom;
}
.screen03 .change{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(40px,-180px);
}
.screen03 .change img:last-child{
    display: none;
}
.screen03 .cart{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(40px,-100px);
}
.screen03 .cart img:last-child{
    display: none;
}
.screen03 .sofa{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-120%,-230px);
    display: none;
}
.screen03 .skewSofa{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-120%,-230px);
    display: none;
}
/*沙发斜着掉下来到购物车里*/
.screen03 .skewSofa.animated{
    animation: screen03-skewSofa 1s linear;
}
@keyframes screen03-skewSofa {
    from{
        transform: translate(-120%,-230px);
        z-index: 1;
    }
    to{
        transform: translate(-10%,450px);
        z-index: 1;
    }
}
/*当选中的时候  也就是沙发掉下来的时候*/
.selected .screen03 .sofa{
    display: block;
}
.selected .screen03 .change img:first-child{
    display: none;
}
.selected .screen03 .change img:last-child{
    display: block;
}
.selected .screen03 .cart img:first-child{
    display: none;
}
.selected .screen03 .cart img:last-child{
    display: block;
}

/*第四屏*/
.screen04{
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../images/04-bg.png") no-repeat center bottom;
}
/*云彩来回动*/
.screen04 .cloud{
    position: absolute;
    left: 50%;
    bottom: 550px;
    transform: translateX(-50%);
    animation: screen04-cloud 20s linear infinite alternate;
}
@keyframes screen04-cloud {
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(100%);
    }
}
/*购物车上边地址*/
.screen04 .text{
    position: absolute;
    left: 50%;
    bottom: 430px;
    transform: translateX(-50%);

}
.screen04 .text img:last-child{
    display: none;
}
.screen04 .cart{
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
    z-index: 1001;
}
/*购物车跑*/
.screen04 .cart.animated{
    animation: screen04-cart 3s linear forwards;
}
@keyframes screen04-cart {
    from{}
    to{
        transform: translateX(1000px);
    }
}
.screen04 .cart .cartImg{
    position: relative;
    z-index: 1;
}
.screen04 .cart .sofaImg{
    position: absolute;
    left: 160px;
    top: -50px;
    display: none;
}
.screen04 .address{
    position: absolute;
    left: 50%;
    bottom: 150px;
    transform: translateX(-50%);
    display: none;
}
.screen04 .address .addressImg{
    position: absolute;
    left: 50%;
    top: 55px;
    transform: translateX(-50%);
    display: none;
}
/*第五屏*/
.screen05 {
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../images/05-bg.png");
}
/*文字*/
.screen05 .text{
    position: absolute;
    left: 50%;
    bottom: 600px;
    margin-left: -500px;
}
/*卡片*/
.screen05 .card{
    width: 358px;
    height: 221px;
    position: absolute;
    left: 50%;
    bottom: 200px;
    margin-left: -500px;
    z-index: 2;
}
.screen05 .card .cardImg{
    position: relative;
    z-index: 1;
}
.screen05 .card .orderImg{
    position: absolute;
    top: 0;
    left: 100px;
    transition: all 1s linear 2s;
}
/*沙发*/
.screen05 .sofa{
    position: absolute;
    left: 50%;
    bottom: 80px;
    margin-left: -400px;
    transform: translateY(-1000px);
    opacity: 0;
    z-index: 1;
}
/*沙发离开的时候掉到包裹内*/
.selected .screen05 .sofa.animated{
    animation: screen05-sofa5to6 1s linear;
}
@keyframes screen05-sofa5to6 {
    from{
        transform: none;
        opacity: 1;
    }
    to{
        transform: translateY(450px) scale(0.2);
        opacity: 1;
    }
}
/*右侧鼠标和手*/
.screen05 .mouse{
    width: 205px;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: 200px;
    overflow: hidden;
}
.screen05 .mouse img{
    position: absolute;
    left: 0;
}
.screen05 .mouse .mouse01Img,
.screen05 .mouse .mouse02Img{
    bottom: 200px;
}
.screen05 .mouse .mouse02Img{
    display: none;
}
.screen05 .mouse .handImg{
    bottom: -30px;
    left: 0;
    transform: translateY(600px);
    transition: all 1s linear;
}
/*手上来的动画*/
.selected .screen05 .mouse .handImg{
    transform: none;
}
/*沙发掉下来的动画*/
.selected .screen05 .sofa{
    animation: screen05-sofa 2s linear 1s forwards;
}
@keyframes screen05-sofa {
    from{
        opacity: 1;
    }
    50%{
        transform: translateY(-100px);
        opacity: 1;
    }
    to{
        transform: none;
        opacity: 1;
    }
}
/*账单慢慢上来的动画*/
.selected .screen05 .card .orderImg{
    transform: translateY(-100px);
}

/*第六屏*/
.screen06{
    width: 100%;
    height: 100%;
    position: relative;
    background: url("../images/06-bg.png") no-repeat 25% 100%;
    transition: all 2s linear 2s;
}
.selected .screen06{
    background: url("../images/06-bg.png") no-repeat 100% 100%;
}
/*云彩*/
.screen06 .cloud .cloud01Img,
.screen06 .cloud .cloud02Img{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    animation: screen06-cloud 20s linear infinite alternate;
}
.screen06 .cloud .cloud02Img{
    animation-duration: 40s;
}
@keyframes screen06-cloud {
    from{}
    50%{
        transform: translateX(-500px);
    }
    to{
        transform: translateX(500px);
    }
}
/*文字*/
.screen06 .text{
    position: absolute;
    left: 50%;
    bottom: 500px;
    margin-left: -300px;
}
.screen06 .text .text02Img{
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    transition: all 0.5s linear 5.5s;
}
.selected .screen06 .text .text02Img{
    opacity: 1;
}

/*包裹*/
.screen06 .box{
    position: absolute;
    left: 50%;
    bottom: 400px;
    margin-left: -1000px;
    transition: margin-left 1s linear,transform 1s linear 1s;
}
.selected .screen06 .box{
    margin-left: -350px;
    transform: translateY(400px) scale(0.4);
}
/*汽车*/
.screen06 .car{
    position: absolute;
    left: 50%;
    margin-left: -350px;
    bottom: 0;
}
.screen06 .car .carImg{
    display: block;
}
/*卖家地址*/
.screen06 .car .buyerImg{
    position: absolute;
    right: -80px;
    top: -50px;
    opacity: 0;
    transition: all 0.5s linear 2.5s;
}
.selected .screen06 .car .buyerImg{
    opacity: 1;
}
/*收货地址*/
.screen06 .car .addressImg{
    position: absolute;
    right: -80px;
    top: -50px;
    opacity: 0;
    transition: all 0.5s linear 3.5s;
}
.selected .screen06 .car .addressImg{
    opacity: 1;
}
/*快递员*/
.screen06 .car .workerImg{
    position: absolute;
    left: 0;
    bottom: 0;
    transform: scale(0);
    transform-origin: left bottom;
    transition: transform 0.5s linear 4s,bottom 0.5s linear 4.5s,margin-left 0.5s linear 5s;
}
.selected .screen06 .car .workerImg{
    transform: scale(1);
    bottom: 100px;
    margin-left: 200px;
}
.screen06 .car .sayImg{
    position: absolute;
    right: -250px;
    top: -400px;
    opacity: 0;
    transition: all 0.5s linear 5.5s;
}
.selected .screen06 .car .sayImg{
    opacity: 1;
}
/*收货人和门*/
.screen06 .person{
    width: 106px;
    height: 150px;
    position: absolute;
    left: 50%;
    bottom: 116px;
    margin-left: 378px;
}
.screen06 .person .doorImg{
    opacity: 0;
    transition: all 0.5s linear 6s;
}
.selected .screen06 .person .doorImg{
    opacity: 1;
}
.screen06 .person .personImg{
    position: absolute;
    right: 0;
    bottom: 0;
    transform-origin: right bottom;
    transform: scale(0);
    transition: transform 0.5s linear 6.5s,right 0.5s linear 7s;
}
.selected .screen06 .person .personImg{
    transform: scale(1);
    right: 250px;
}

/*第七屏*/
.screen07{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/07-bg.png") no-repeat center bottom;
}
/*星星*/
.screen07 .start{
    position: absolute;
    left: 50%;
    margin-left: -292px;
    bottom: 444px;
}
.screen07 .start img{
    float: left;
    margin-right: 6px;
    display: none;
}
/*好评*/
.screen07 .text{
    position: absolute;
    left: 50%;
    margin-left: -292px;
    bottom: 380px;
    opacity: 0;
    transform-origin: left bottom;
}
.screen07 .text.animated{
    animation: screen07-text 1.5s 2.5s forwards;
}
@keyframes screen07-text {
    from{}
    75%{
        transform: scale(1.2);
        opacity: 1;
    }
    to{
        transform: scale(1);
        opacity: 1;
    }
}

/*第八屏*/
.screen08{
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/08-bg.png");
    cursor: pointer;
}
/*开始购物*/
.screen08 .btn{
    width: 389px;
    height: 160px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 400px;
}
.screen08 .btn .btn02Img{
    display: none;
}
/*再来一次*/
.screen08 .again{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 450px;
    margin-left: 350px;
}
/*手*/
.screen08 .hand{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}